/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  margin: 0 auto;
  color: var(--text-color, #000);
  font-family: var(--main-font, 'Courier New', monospace);
  background-color: var(--bg-color, #000);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* header */

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  height: 100vh;
  min-height: 768px;
  padding: 20px;
}
 
.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  z-index: -1;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid red;
  border-block-start: 1px solid red;
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::after {
  border-inline-start: 1px solid red;
  border-block-end: 1px solid red;
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.rec-icon::before {
  content: '';
}

.rec-icon::after {
  content: 'REC';
}

.rec-icon {
  position: absolute;
  z-index: -1;
  inset-inline-end: 20px;
  inset-block-start: 20px;
}

.header__theme-menu {
  justify-self: center;
  align-self: start;
}

.header__theme-menu-list {
  display: flex;
  gap: 23px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 768px;
}

@media (max-width: 768px) {

  .header__theme-menu-list {
    flex-direction: column;
    justify-content: end;
    align-items: end;
  }
}
