/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: 'IBM Plex mono';
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --secondary-text-color: #000028;
  --title-text-color: #DB00FF;
  --secondary-title-text-color: #FF0070;
  --bg-image: url('../images/cover-image-light.png');
}
