/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: transparent;
  --border-color: #353430;
  --bg-text-color: #FFC2E6;
  --text-color: #353430;
  --rec-color: transparent;
  --secondary-text-color: #353430;
  --title-text-color: #FFC2E6;
  --secondary-title-text-color: #353430;
  --accent-color: #FF0070;
  --frame-color: #353430;
  --link-color: #353430;
  --button-color-hover: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  
  :root {
      --bg-image: url(../images/cover-image-light.png);
      --bg-color: transparent;
      --border-color: #353430;
      --bg-text-color: #FFC2E6;
      --text-color: #353430;
      --rec-color: transparent;
      --secondary-text-color: #353430;
      --title-text-color: #FFC2E6;
      --secondary-title-text-color: #353430;
      --accent-color: #FF0070;
      --frame-color: #353430;
      --link-color: #353430;
      --button-color-hover: rgba(50, 49, 45, 0.4);
    }

}
 