/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: 'IBM Plex mono';
  --bg-color: #000028;
  --border-color: #ff0070;
  --bg-text-color: #ff0070;
  --text-color: #000028;
  --secondary-text-color: #F1B2CE;
  --title-text-color: #DB00FF;
  --secondary-title-text-color: #ff0070;
  --accent-color: #ff0070;
  --rec-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
}

 
 